<ion-header>

  <ion-navbar>
    <ion-title>修改密码</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <form (ngSubmit)="onSubmit()" #changePswForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label>用户名</ion-label>
        <ion-input type="text" name="username" [(ngModel)]='username' required="required"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>旧密码</ion-label>
        <ion-input id="old" type="password" name="oldPsw" [(ngModel)]="oldPsw"
                   required="required"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>新密码</ion-label>
        <ion-input id="new" type="password" name="newPsw" [(ngModel)]="newPsw"
                   required="required"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>确认新密码</ion-label>
        <ion-input id="newAgain" type="password" name="newPswAgain" [(ngModel)]="newPswAgain"
                   required="required"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button type="submit" ion-button color="primary" block [disabled]="!changePswForm.form.valid||!username||!oldPsw||!newPsw||!newPswAgain">提交</button>
    </div>
    </form>
</ion-content>
