<ion-header>
  <ion-navbar>
    <ion-title>
      直播
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let channel of channelList">
      <ion-item-divider no-margin color="light">
        <b>{{channel.category}}</b>
        <button ion-button outline item-end (click)="checkAllLiveRooms(channel)">
          <ion-icon name="search"></ion-icon>
          查看全部
        </button>
      </ion-item-divider>
      <ion-row  *ngIf="liveRoomService.getLiveRoomByChannel(channel).length == 1">
        <ion-col col-6>
          <div style="position:relative;width:90%; height:90%;left: 5%;top: 0%">
            <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=4105326139,3484086102&fm=58&w=121&h=121&img.PNG&bpow=484&bpoh=473" style="position:relative;left:0%;top:0;width:98%;height:98%">
          </div>
          <a style="position: relative;width: 90%;height: 10%;top: 90%;left: 5%">{{liveRoomService.getLiveRoomByChannel(channel)[0].teacherName}}:{{liveRoomService.getLiveRoomByChannel(channel)[0].title}}</a>
        </ion-col>
        <ion-col col-6></ion-col>
      </ion-row>

      <ion-grid *ngIf="liveRoomService.getLiveRoomByChannel(channel).length > 1">
        <ion-row>
          <ion-col col-6>
            <div style="position:relative;width:90%;left: 5%; height: 80%;top:0%">
              <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=4105326139,3484086102&fm=58&w=121&h=121&img.PNG&bpow=484&bpoh=473" style="position:relative;left:0;top:0;width:98%;height:98%">
            </div>
            <a style="position: relative;height: 10%;top: 90%;width: 90%;left: 5%">{{liveRoomService.getLiveRoomByChannel(channel)[0].teacherName}}:{{liveRoomService.getLiveRoomByChannel(channel)[0].title}}</a>
          </ion-col>
          <ion-col col-6>
            <div style="position:relative;width:90%;left: 5%; height: 80%;top:0%">
              <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=4105326139,3484086102&fm=58&w=121&h=121&img.PNG&bpow=484&bpoh=473" style="position:relative;left:0;top:0;width:98%;height:98%">
            </div>
            <a style="position: relative;height: 10%;top: 90%;width: 90%;left: 5%">{{liveRoomService.getLiveRoomByChannel(channel)[1].teacherName}}:{{liveRoomService.getLiveRoomByChannel(channel)[1].title}}</a>

          </ion-col>
          <!--<ion-col col-4>-->
            <!--<div style="width:100%; padding-bottom:100%">-->
              <!--<img *ngIf="moment.images.length>=3" src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=4105326139,3484086102&fm=58&w=121&h=121&img.PNG&bpow=484&bpoh=473" (click)="viewImage(2)" style="position:absolute;left:0;top:0;width:98%;height:98%">-->
            <!--</div>-->
          <!--</ion-col>-->
        </ion-row>

      </ion-grid>



    </ion-item>
  </ion-list>
</ion-content>
